@font-face {
    font-family: a_FuturaRound;
    src: url(fonts/afuturaround.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: a_FuturaRound;
    src: url(fonts/afuturaroundbold.ttf);
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1900px;
}
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    overflow-x: hidden;
    margin: 0;
    font-size: 32px;
    color: #FAFCFF;
    font-family: "Roboto", sans-serif;
    background-size: 100%;
    height: 100%;
    max-width: 1920px;
    width: 100%;
    max-height: 1080px;
    background-color: #F8F8F8;
    position: relative;
    background-repeat: no-repeat;
    background: linear-gradient(#3A7AFA, 50%, #F8F8F8);
}
.nav {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 92.3%;
    gap: 15px;
    height: 100px;
    line-height: 130px;
    color: #FFFFFF;
    overflow-x: hidden;
}
.nav-logo {
    float: left;
    font-size: 19px;
    margin-left: 40px;
    text-align: center;
    margin-top: 30px;
}
.logo__img {
    width: 330px;
    height: 45px;
}
.navigation-menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.navigation-menu ul, a{
    display: flex;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}
.navigation-menu ul li{
    list-style-type: none;
}
.navigation-menu ul li .navigation-link{
    text-decoration: none;
    font-weight: 400;
    margin: 50px 10px;
}
.tel {
    font-size: 22px;
    text-decoration: none;
}
.navigation-link:hover, .active{
    border-bottom: 2px solid #FFFFFF;
}
.button-collection {
    float: right;
    margin-left: auto;
    margin-right: 40px;
}
.button-collection button {
    background: none;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 0 10px;
}
.okko__button {
    width: 40px;
    height: 25px;
}
.account__button {
    width: 30px;
    height: 30px;
}
.navigation-menu-burger__img {
    width: 30px;
    height: 30px;
}
.navigation-menu-burger__button {
    padding: 0.5lh 1.5lh;
    color: currentColor;
    border: none;
    cursor: pointer;
}
.profile {
    display: none;
}
.navigation-menu-burger__button:hover,
.buttnavigation-menu-burger__buttonon:focus-visible {
    background-color: #F52850;
}
.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #F52850;
    overflow: hidden;
    line-height: 0;
}
.menu-item {
    overflow: hidden;
}
.menu-link {
    display: block;
    padding: 0.7lh 80px;
    text-align: center;
}
.menu-link:hover,
.menu-link:focus-visible {
    background-color: #f45c7a;
}
.navigation-menu-burger__button.active ~ .menu {
    line-height: 1.2;
    color: currentColor;
    z-index: 900000;
}
.tel-in-burger-menu {
    display: none;
}
h1 {
    font-size: 66px;
}
h2{
    font-size: 42px;
}
.main {
    width: 100%;
    max-width: 2440px;
    overflow-x: hidden;
}
.circle-group__img {
    width: 800px;
    height: 800px;
    display: block;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.information-in-main-window {
    position: absolute;
    display: grid;
    grid-template-columns: 935px 935px;
    gap:  0 1em;
    grid-auto-flow: column;
    margin-top: 450px;
    font-family: "a_FuturaRound";
    font-weight: 600;
    font-size: 36px;
}
.information-in-main-window-one__p {
    grid-column: 1;
    margin-left: 84px;
    margin-right: auto;
}
.information-in-main-window-two__p {
    grid-column: 2;
    margin-left: auto;
    width: 450px;
    margin-right: 80px;
}
.company-name-title__img, .dragon-in-main-window__img {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4000;
}
.record-application-first-block {
    position: absolute;
    float: right;
    margin-left: 80px;
    margin-top: 80px;
}
.record-application-first-block p {
    font-size: 18px;
    width: 250px;
    word-break: break-all;
    margin-left: 130px;
    margin-top: -100px;
}
.plus-first-block {
    width: 40px;
    height: 40px;
    z-index: 100;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #F52850; 
    position: absolute;
    margin-top: -40px;
    border: 3px solid #FFF;
    margin-left: -9px;
}
.plus-in-first-blok {
    padding: 5px 5px 0px 5px;
}
.doctors-photo__img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 6px 4px 0px rgba(125, 125, 125, 0.15);
}
.record-application-second-block {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: auto;
    margin-right: 95px;
    margin-top: 550px;
}
.img-position-one {
    display: flex;
    flex-direction: row;
}
.doctors-photo-three {
    margin-top: -110px;
    margin-left: 70px;
}
.record-application-second-block p {
    font-size: 18px;
    width: 400px;
    word-break: break-all;
    color: #707070;
    margin-right: 20px;
}
section {
    background-color: #F8F8F8;
    width: 100%;
    max-width: 2440px;
    overflow-x: hidden;
}
.about-the-clinic {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    background-color: #F8F8F8;
    text-align: left;
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    height: 100%;
}
.little-comment__span {
    position: absolute;
    margin-top: 45px;
    padding-top: 6px;
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: #7B3EE6;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 50px;
}
.about-the-clinic-title{
    display: flex;
    flex-direction: row;
}
.about-the-clinic-title__div {
    font-family: "a_FuturaRound";
    display: flex;
    flex-direction: column;
    color: #3E3E3E;
    font-weight: 700;
    width: 700px;
    height: auto;
    margin: 0 auto;
}
.text-record-application-block__p {
    font-size: 18px;
    font-weight: 400;
    width: 370px;
    height: 80px;
    margin-left: auto;
    margin-right: 0;
    background-color: none;
    color: #707070;
}
.collection-of-picture {
    position: absolute;
    float: right;
    display: flex;
    left: 50%;
    margin: 690px;
    margin-top: 45px;
}
.circle-empty {
    z-index: 100;
    background-color: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 3px solid #036EEE;
    margin-left: 100px;
}
.slider-pictures {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.slider-pictures img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 6px 4px 0px rgba(125, 125, 125, 0.15);
}
.text-record-application-fourth-block__p {
    margin-left: auto;
    margin-right: 0;
    font-weight: 400;
}
.services {
    background-color: #F8F8F8;
    width: 100%;
    max-width: 2440px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.services-title{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.about-the-clinic-title__h1{
    margin: 0 auto;
}
.services-title__h2{
    margin: 0 auto;
}
.services-title__div {
    font-family: "a_FuturaRound";
    display: flex;
    flex-direction: column;
    color: #3E3E3E;
    font-weight: 700;
    width: 1400px;
    height: auto;
    margin: 0 auto;
}
.text-services {
    width: 700px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}
.services-block__div {
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 22px;
    font-weight: 700;
    gap: 20px;
    text-align: center;
    margin-top: 40px;
}
.services-block {
    width: 1400px;
    height: 75px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 6px 4px 0px rgba(125, 125, 125, 0.15);
    border-radius: 30px;
    align-items: center;
}
.plus-third-block {
    z-index: 100;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    float: right;
    margin-right: 90px;
    margin-left: auto;
    background-color: #036EEE;
}
.plus-in-third-block {
    display: block;
    margin-left: -5px;
}
.number-service__span {
    float: left;
    margin-left: 90px;
    margin-right: auto;
    color: #B8B8B8;
}
.name-service__p {
    display: flex;
    color: #3E3E3E;
}
.dragon-in-services-window__img {
    position: absolute;
    width: 280px;
    height: 333px;
    text-align: center;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 600px;
}
.drop-down-list__button {
    padding: 0.5lh 1.5lh;
    color: currentColor;
    border: none;
    cursor: pointer;
}
.drop-down-list__button:hover,
.drop-down-list__button:focus-visible {
    background-color: #3A7AFA;
}
.drop-down {
    position: absolute;
    width: 1400px;
    display: flex;
    flex-direction: column;
    background-color: #036EEE;
    overflow: hidden;
    z-index: -1;
}
.drop-down-item {
    overflow: hidden;
}
.drop-down-link {
    display: block;
    padding: 0.5lh 80px;
}
.drop-down-link:hover,
.drop-down-link:focus-visible {
    background-color: #3A7AFA;
}
.drop-down-list__button.active ~ .drop-down {
    line-height: 1.2;
    margin-top: 320px;
    z-index: 50000;
}
.sing-up__button {
    width: 663px;
    height: 69px;
    border-radius: 30px;
    border: none;
    background-color: #036EEE;
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1800px) {
    .container {
        width: 1780px;
        overflow-x: hidden;
    }
    h1 {
        font-size: 66px;
    }
    h2{
        font-size: 42px;
    }
    .main {
        overflow-x: hidden;
    }
    .information-in-main-window {
        grid-template-columns: 875px 875px;
        margin-top: 450px;
    }
    .collection-of-picture {
        left: 50%;
        margin: 650px;
        margin-top: 45px;
    }
    .tel-in-burger-menu {
        display: none;
    }
    .profile {
        display: none;
    }
}
@media only screen and (max-width: 1600px) {
    .container {
        width: 1460px;
        overflow-x: hidden;
    }
    .nav-logo {
        font-size: 17px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .logo__img {
        width: 300px;
        height: 45px;
    }
    .navigation-menu ul, a{
        display: flex;
        font-size: 17px;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-menu ul li .navigation-link{
        margin: 50px 10px;
    }
    .tel-in-burger-menu {
        display: none;
    }
    .tel {
        font-size: 17px;
    }
    .profile {
        display: none;
    }
    .button-collection {
        margin-left: auto;
        margin-right: 30px;
    }
    .button-collection button {
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }
    .okko__button {
        width: 30px;
        height: 25px;
    }
    .account__button {
        width: 25px;
        height: 25px;
    }
    .navigation-menu-burger__img {
        width: 25px;
        height: 25px;
        margin-left: -5px;
    }
    .navigation-menu-burger__button {
        padding: 0.5lh 1.5lh;
    }
    .menu-link {
        padding: 0.5lh 40px;
    }    
    h1 {
        font-size: 64px;
    }
    h2{
        font-size: 40px;
    }
    .circle-group__img {
        width: 700px;
        height: 700px;
    }
    .information-in-main-window {
        grid-template-columns: 700px 700px;
        font-size: 24px;
        margin-top: 460px;
    }
    .information-in-main-window-one__p {
        grid-column: 1;
        margin-left: 65px;
        margin-right: auto;
    }
    .information-in-main-window-two__p {
        grid-column: 2;
        margin-left: auto;
        width: 300px;
        margin-right: 20px;
    }
    .dragon-in-main-window__img {
        width: 400px;
        height: 500px;
    }
    .record-application-first-block {
        margin-left: 80px;
        margin-top: 80px;
    }
    .record-application-first-block p {
        font-size: 16px;
        width: 250px;
        margin-left: 130px;
        margin-top: -100px;
    }
    .circle-plus {
        width: 50px;
        height: 50px;
    }
    .plus-first-block {
        width: 50px;
        height: 50px;
        margin-top: -40px;
        margin-left: -9px;
    }
    .plus-in-first-blok {
        padding: 5px 5px 0px 5px;
    }
    .plus-third-block {
        z-index: 100;
        width: 50px;
        height: 50px;
        margin-right: 80px;
        margin-left: auto;
    }
    .plus-in-third-block {
        display: block;
        margin-left: -5px;
    }
    .doctors-photo__img {
        width: 90px;
        height: 90px;
    }
    .record-application-second-block {
        margin-left: auto;
        margin-right: 30px;
        margin-top: 550px;
    }
    .doctors-photo-three {
        margin-top: -90px;
        margin-left: 70px;
    }
    .record-application-second-block p {
        font-size: 16px;
        width: 350px;
        margin-top: 20px;
        margin-right: -20px;
    }
    .about-the-clinic {
        margin-top: 170px;
        text-align: left;
        width: 100%;
        height: 1080px;
        height: 100%;
    }
    .little-comment__span {
        font-size: 16px;
        margin-top: 60px;
    }
    .text-record-application-block__p {
        font-size: 16px;
        width: 370px;
        height: 80px;
    }
    .collection-of-picture {
        left: 50%;
        margin: 520px;
        margin-top: 45px;
    }
    .circle-empty {
        width: 30px;
        height: 30px;
        margin-left: 60px;
        margin-top: -10px;
    }
    .slider-pictures {
        width: 100%;
        height: 450px;
    }
    .slider-pictures img {
        width: 400px;
        height: 250px;
    }
    .text-record-application-fourth-block__p {
        margin-left: auto;
        margin-right: 0;
    }
    .about-the-clinic-title__h1{
        margin: 0 auto;
    }
    .services-title__h2{
        margin: 0 auto;
    }
    .services-title__div {
        width: 1400px;
        height: auto;
        margin: 0 auto;
    }
    .services-block__div {
        font-size: 18px;
        margin-top: 40px;
    }
    .services-block {
        width: 1000px;
        height: 70px;
    }
    .number-service__span {
        margin-left: 80px;
        margin-right: auto;
    }
    .drop-down {
        width: 1000px;
    }
    .drop-down-list__button.active ~ .drop-down {
        margin-top: 260px;
    }
    .sing-up__button {
        width: 663px;
        height: 69px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 1440px) {
    .container {
        width: 1400px;
        overflow-x: hidden;
    }
    .nav-logo {
        font-size: 17px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .logo__img {
        width: 300px;
        height: 45px;
    }
    .navigation-menu ul, a{
        display: flex;
        font-size: 17px;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-menu ul li .navigation-link{
        margin: 50px 10px;
    }
    .tel-in-burger-menu {
        display: none;
    }
    .tel {
        font-size: 17px;
    }
    .profile {
        display: none;
    }
    .button-collection {
        margin-left: auto;
        margin-right: 30px;
    }
    .button-collection button {
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }
    .okko__button {
        width: 30px;
        height: 25px;
    }
    .account__button {
        width: 25px;
        height: 25px;
    }
    .navigation-menu-burger__img {
        width: 25px;
        height: 25px;
        margin-left: -5px;
    }
    .navigation-menu-burger__button {
        padding: 0.5lh 1.5lh;
    }
    .menu-link {
        padding: 0.5lh 40px;
    }    
    h1 {
        font-size: 64px;
    }
    h2{
        font-size: 40px;
    }
    .circle-group__img {
        width: 700px;
        height: 700px;
    }
    .information-in-main-window {
        grid-template-columns: 690px 690px;
        font-size: 24px;
    }
    .information-in-main-window-one__p {
        grid-column: 1;
        margin-left: 45px;
        margin-right: auto;
    }
    .information-in-main-window-two__p {
        grid-column: 2;
        margin-left: auto;
        width: 300px;
        margin-right: 40px;
    }
    .dragon-in-main-window__img {
        width: 400px;
        height: 500px;
    }
    .record-application-first-block {
        margin-left: 80px;
        margin-top: 80px;
    }
    .record-application-first-block p {
        font-size: 16px;
        width: 250px;
        margin-left: 130px;
        margin-top: -100px;
    }
    .circle-plus {
        width: 50px;
        height: 50px;
    }
    .plus-first-block {
        width: 50px;
        height: 50px;
        margin-top: -40px;
        margin-left: -9px;
    }
    .plus-in-first-blok {
        padding: 5px 5px 0px 5px;
    }
    .plus-third-block {
        z-index: 100;
        width: 50px;
        height: 50px;
        margin-right: 80px;
        margin-left: auto;
    }
    .plus-in-third-block {
        display: block;
        margin-left: -5px;
    }
    .doctors-photo__img {
        width: 90px;
        height: 90px;
    }
    .record-application-second-block {
        margin-left: auto;
        margin-right: 30px;
        margin-top: 550px;
    }
    .doctors-photo-three {
        margin-top: -90px;
        margin-left: 70px;
    }
    .record-application-second-block p {
        font-size: 16px;
        width: 350px;
        margin-top: 20px;
        margin-right: -20px;
    }
    .about-the-clinic {
        margin-top: 170px;
        text-align: left;
        width: 100%;
        height: 1080px;
        height: 100%;
    }
    .little-comment__span {
        font-size: 16px;
        margin-top: 60px;
    }
    .text-record-application-block__p {
        font-size: 16px;
        width: 370px;
        height: 80px;
    }
    .collection-of-picture {
        left: 50%;
        margin: 520px;
        margin-top: 45px;
    }
    .circle-empty {
        width: 30px;
        height: 30px;
        margin-left: 60px;
        margin-top: -10px;
    }
    .slider-pictures {
        width: 100%;
        height: 450px;
    }
    .slider-pictures img {
        width: 400px;
        height: 250px;
    }
    .text-record-application-fourth-block__p {
        margin-left: auto;
        margin-right: 0;
    }
    .about-the-clinic-title__h1{
        margin: 0 auto;
    }
    .services-title__h2{
        margin: 0 auto;
    }
    .services-title__div {
        width: 1400px;
        height: auto;
        margin: 0 auto;
    }
    .services-block__div {
        font-size: 18px;
        margin-top: 40px;
    }
    .services-block {
        width: 1000px;
        height: 75px;
    }
    .number-service__span {
        margin-left: 80px;
        margin-right: auto;
    }
    .drop-down {
        width: 1000px;
    }
    .drop-down-list__button.active ~ .drop-down {
        margin-top: 290px;
    }
    .sing-up__button {
        width: 663px;
        height: 69px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 1260px) {
    .container {
        width: 1220px;
    }
    .nav-logo {
        float: left;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .logo__img {
        width: 270px;
        height: 45px;
    }
    .navigation-menu .nav-menu {
        display: none;
    }
    .tel-in-nav-menu {
        display: none;
    }
    .tel {
        font-size: 17px;
        margin-top: 50px;
    }
    .profile {
        display: none;
    }
    .button-collection {
        margin-left: auto;
        margin-right: 20px;
        margin-top: 50px;
    }
    .button-collection button {
        width: 70px;
        height: 70px;
        margin: 0 10px;
    }
    .okko__button {
        width: 35px;
        height: 20px;
    }
    .account__button {
        width: 30px;
        height: 30px;
    }
    .navigation-menu-burger__img {
        width: 30px;
        height: 30px;
    }
    .menu-link {
        display: block;
        padding: 0.6lh 40px;
    }
    h1 {
        font-size: 55px;
    }
    h2{
        font-size: 34px;
    }
    .main {
        overflow-x: hidden;
    }
    .circle-group__img {
        width: 600px;
        height: 600px;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .information-in-main-window {
        grid-template-columns: 600px 600px;
        margin-top: 465px;
        font-size: 20px;
    }
    .information-in-main-window-one__p {
        grid-column: 1;
        margin-left: 40px;
        margin-right: auto;
    }
    .information-in-main-window-two__p {
        grid-column: 2;
        margin-left: auto;
        width: 250px;
        margin-right: 40px;
    }
    .company-name-title__img, .dragon-in-main-window__img {
        width: 350px;
        height: 450px;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .record-application-first-block {
        margin-left: 40px;
        margin-top: 100px;
    }
    .record-application-first-block p {
        font-size: 15px;
        width: 250px;
        margin-left: 120px;
        margin-top: -100px;
    }
    .plus-first-block {
        width: 50px;
        height: 50px;
        margin-top: -40px;
        margin-left: -9px;
    }
    .plus-in-first-blok {
        padding: 5px 5px 0px 5px;
    }
    .plus-third-block {
        z-index: 100;
        width: 50px;
        height: 50px;
        margin-right: 80px;
        margin-left: auto;
    }
    .plus-in-third-block {
        display: block;
        margin-left: -5px;
    }
    .doctors-photo__img {
        width: 90px;
        height: 90px;
    }
    .record-application-second-block {
        margin-left: auto;
        margin-right: 80px;
    }
    .img-position-one {
        margin-top: -20px;
        margin-left: auto;
        margin-right: 110px;
    }
    .doctors-photo-three {
        margin-right: 50px;
        margin-top: -90px;
    }
    .record-application-second-block p {
        font-size: 15px;
        width: 290px;
        margin-top: 20px;
        margin-right: -120px;
    }
    .about-the-clinic {
        display: flex;
        flex-direction: column;
        margin-top: 220px;
        background-color: #F8F8F8;
        text-align: left;
        max-width: 1920px;
        width: 100%;
        height: 1080px;
        height: 100%;
    }
    .little-comment__span {
        margin-top: 45px;
        padding-top: 8px;
        width: 190px;
        height: 35px;
        font-size: 15px;
        margin-left: 75px;
    }
    .about-the-clinic-title__div {
        width: 550px;
        height: auto;
        margin: 0 auto;
    }
    .text-record-application-block__p {
        font-size: 18px;
        width: 380px;
        height: 80px;
        margin-left: auto;
        margin-right: 0;
    }
    .collection-of-picture {
        left: 40%;
        margin-top: 45px;
    }
    .slider-pictures {
        width: 100%;
        height: 500px;
        gap: 20px;
    }
    .slider-pictures img {
        width: 400px;
        height: 250px;
    }
    .text-record-application-fourth-block__p {
        margin-left: auto;
        margin-right: 0;
    }
    .about-the-clinic-title__h1{
        margin: 0 auto;
    }
    .services-title__h2{
        margin: 0 auto;
    }
    .services-title__div {
        width: 1200px;
        height: auto;
        margin: 0 auto;
    }
    .text-services {
        width: 700px;
        margin-left: auto;
        margin-right: 0;
    }
    .services-block__div {
        font-size: 22px;
        font-weight: 700;
        gap: 20px;
        margin-top: 40px;
    }
    .services-block {
        width: 900px;
        height: 75px;
        border-radius: 30px;
    }
    .number-service__span {
        margin-left: 80px;
        margin-right: auto;
    }
    .dragon-in-services-window__img {
        width: 280px;
        height: 333px;
        margin-left: 60px;
        margin-right: auto;
        margin-top: 600px;
    }
    .drop-down-list__button {
        padding: 0.5lh 1.5lh;
        color: currentColor;
        border: none;
        cursor: pointer;
    }
    .drop-down {
        width: 900px;
    }
    .drop-down-link {
        display: block;
        padding: 0.5lh 80px;
    }
    .drop-down-list__button.active ~ .drop-down {
        line-height: 1.2;
        margin-top: 320px;
    }
    .sing-up__button {
        width: 663px;
        height: 69px;
        font-size: 22px;
    }
}
@media only screen and (max-width: 980px) {
    .container {
        width: 960px;
    }
    .nav-logo {
        float: left;
        font-size: 16px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .logo__img {
        width: 270px;
        height: 45px;
    }
    .navigation-menu .nav-menu {
        display: none;
    }
    .tel-in-nav-menu {
        display: none;
    }
    .profile {
        display: none;
    }
    .tel-in-burger-menu {
        display: contents;
    }
    .button-collection {
        margin-left: auto;
        margin-right: 30px;
        margin-top: 50px;
    }
    .button-collection button {
        width: 70px;
        height: 70px;
        margin: 0 10px;
    }
    .okko__button {
        width: 35px;
        height: 20px;
    }
    .account__button {
        width: 30px;
        height: 30px;
    }
    .navigation-menu-burger__img {
        width: 30px;
        height: 30px;
        margin-left: -3px;
    }
    .menu {
        z-index: 60000;
    }
    .menu-link {
        display: block;
        padding: 0.6lh 40px;
    }
    h1 {
        font-size: 48px;
    }
    h2{
        font-size: 30px;
    }
    .main {
        overflow-x: hidden;
    }
    .circle-group__img {
        width: 600px;
        height: 600px;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .information-in-main-window {
        grid-template-columns: 470px 470px;
        margin-top: 465px;
        font-size: 20px;
    }
    .information-in-main-window-one__p {
        grid-column: 1;
        margin-left: 40px;
        margin-right: auto;
    }
    .information-in-main-window-two__p {
        grid-column: 2;
        margin-left: auto;
        width: 250px;
        margin-right: 40px;
    }
    .company-name-title__img, .dragon-in-main-window__img {
        width: 350px;
        height: 450px;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .record-application-first-block {
        margin-left: 40px;
        margin-top: 100px;
    }
    .record-application-first-block p {
        font-size: 15px;
        width: 250px;
        margin-left: 120px;
        margin-top: -100px;
    }
    .plus-first-block {
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-left: -9px;
    }
    .plus-in-first-blok {
        display: block;
        margin-top: 5px;
        margin-left: 5px;
    }
    .plus-third-block {
        z-index: 100;
        width: 50px;
        height: 50px;
        margin-right: 70px;
        margin-left: auto;
    }
    .plus-in-third-block {
        display: block;
        margin-left: -5px;
    }
    .doctors-photo__img {
        width: 90px;
        height: 90px;
    }
    .record-application-second-block {
        margin-left: auto;
        margin-right: 65px;
        margin-top: 600px;
    }
    .img-position-one {
        margin-top: -20px;
        margin-left: auto;
        margin-right: 110px;
    }
    .doctors-photo-three {
        margin-right: 50px;
        margin-top: -90px;
    }
    .record-application-second-block p {
        font-size: 15px;
        width: 220px;
        margin-top: 20px;
        margin-right: -120px;
    }
    .about-the-clinic {
        margin-top: 130px;
    }
    .little-comment__span {
        margin-top: 45px;
        padding-top: 8px;
        width: 190px;
        height: 35px;
        font-size: 15px;
        margin-left: 30px;
    }
    .about-the-clinic-title__div {
        width: 550px;
        height: auto;
        margin: 0 auto;
    }
    .text-record-application-block__p {
        font-size: 15px;
        width: 380px;
        height: 80px;
        margin-left: auto;
        margin-right: 0;
    }
    .collection-of-picture {
        margin-left: 43%;
        margin-top: 45px;
    }
    .slider-pictures {
        width: 100%;
        height: 420px;
        gap: 20px;
    }
    .slider-pictures img {
        width: 300px;
        height: 220px;
    }
    .about-the-clinic-title__h1{
        margin: 0 auto;
    }
    .services-title__h2{
        margin: 0 auto;
    }
    .services-title__div {
        width: 1090px;
        height: auto;
        margin: 0 auto;
    }
    .text-services {
        width: 590px;
        margin-left: auto;
        margin-right: 0;
    }
    .services-block__div {
        font-size: 13px;
        margin-top: 40px;
    }
    .services-block {
        width: 600px;
        height: 75px;
    }
    .number-service__span {
        margin-left: 70px;
        margin-right: auto;
    }
    .circle-plus {
        margin-right: 50px;
        margin-left: auto;
    }
    .dragon-in-services-window__img {
        width: 280px;
        height: 333px;
        margin-left: 80px;
        margin-right: auto;
        margin-top: 550px;
    }
    .drop-down-list__button {
        padding: 0.5lh 1.5lh;
    }
    .drop-down {
        width: 550px;
    }
    .drop-down-link {
        display: block;
        padding: 0.5lh 80px;
    }
    .drop-down-list__button.active ~ .drop-down {
        line-height: 1.2;
        margin-top: 320px;
    }
    .sing-up__button {
        width: 663px;
        height: 69px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        width: 740px;
    }
    .nav-logo {
        float: left;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .logo__img {
        width: 260px;
        height: 45px;
    }
    .navigation-menu .nav-menu {
        display: none;
    }
    .tel-in-nav-menu {
        display: none;
    }
    .profile {
        display: none;
    }
    .button-collection {
        margin-left: auto;
        margin-right: 20px;
        margin-top: 50px;
    }
    .button-collection button {
        width: 65px;
        height: 65px;
        margin: 0 10px;
    }
    .okko__button {
        width: 30px;
        height: 20px;
    }
    .account__button {
        width: 25px;
        height: 25px;
    }
    .navigation-menu-burger__img {
        width: 25px;
        height: 25px;
        margin-left: -3px;
    }
    .menu {
        z-index: 60000;
    }
    .menu-link {
        display: block;
        padding: 0.6lh 40px;
    }
    h1 {
        font-size: 38px;
    }
    h2{
        font-size: 26px;
    }
    .main {
        overflow-x: hidden;
    }
    .circle-group__img {
        width: 500px;
        height: 500px;
    }
    .information-in-main-window {
        grid-template-columns: 350px 350px;
        margin-top: 445px;
        font-size: 16px;
    }
    .information-in-main-window-one__p {
        grid-column: 1;
        margin-left: 40px;
        margin-right: auto;
    }
    .information-in-main-window-two__p {
        grid-column: 2;
        margin-left: auto;
        width: 200px;
        margin-right: -10px;
    }
    .company-name-title__img, .dragon-in-main-window__img {
        width: 300px;
        height: 400px;
    }
    .record-application-first-block {
        margin-left: 30px;
        margin-top: 30px;
    }
    .record-application-first-block p {
        font-size: 15px;
        width: 250px;
        margin-left: 110px;
        margin-top: -60px;
    }
    .plus-first-block {
        width: 40px;
        height: 40px;
        margin-top: -40px;
        margin-left: -9px;
    }
    .plus-in-first-blok {
        display: block;
        margin-top: 5px;
        margin-left: 5px;
    }
    .plus-third-block {
        z-index: 100;
        width: 50px;
        height: 50px;
        margin-right: 60px;
        margin-left: auto;
    }
    .plus-in-third-block {
        display: block;
        margin-left: -5px;
    }
    .doctors-photo__img {
        width: 80px;
        height: 80px;
    }
    .record-application-second-block {
        margin-left: auto;
        margin-right: 65px;
        margin-top: 600px;
    }
    .img-position-one {
        margin-top: -20px;
        margin-left: auto;
        margin-right: 110px;
    }
    .doctors-photo-three {
        margin-right: 50px;
        margin-top: -80px;
    }
    .record-application-second-block p {
        font-size: 15px;
        width: 220px;
        margin-top: 20px;
        margin-right: -120px;
    }
    .about-the-clinic {
        margin-top: 150px;
    }
    .little-comment__span {
        margin-top: 45px;
        padding-top: 10px;
        width: 140px;
        height: 35px;
        font-size: 12px;
        margin-left: 20px;
    }
    .about-the-clinic-title__div {
        width: 550px;
        height: auto;
        margin: 0 auto;
    }
    .text-record-application-block__p {
        font-size: 15px;
        width: 380px;
        height: 80px;
        margin-left: auto;
        margin-right: 0;
    }
    .collection-of-picture {
        margin-left: 40%;
        margin-top: 45px;
    }
    .slider-pictures {
        width: 100%;
        height: 420px;
        gap: 15px;
    }
    .slider-pictures img {
        width: 235px;
        height: 200px;
    }
    .services {
        margin-top: -5px;
    }
    .about-the-clinic-title__h1 {
        margin: 0 auto;
    }
    .services-title__h2 {
        margin: 0 auto;
    }
    .services-title__div {
        width: 980px;
        height: auto;
        margin: 0 auto;
    }
    .text-services {
        width: 490px;
        margin-left: auto;
        margin-right: 0;
    }
    .services-block__div {
        font-size: 13px;
        margin-top: 40px;
    }
    .services-block {
        width: 450px;
        height: 75px;
    }
    .number-service__span {
        margin-left: 60px;
        margin-right: auto;
    }
    .dragon-in-services-window__img {
        width: 280px;
        height: 333px;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 550px;
    }
    .drop-down-list__button {
        padding: 0.5lh 1.5lh;
    }
    .drop-down {
        width: 450px;
    }
    .drop-down-link {
        display: block;
        padding: 0.5lh 80px;
    }
    .drop-down-list__button.active ~ .drop-down {
        line-height: 1.2;
        margin-top: 320px;
    }
    .sing-up__button {
        width: 600px;
        height: 69px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    .nav-logo {
        float: left;
        font-size: 14px;
        margin-left: 15px;
        margin-top: 30px;
    }
    .logo__img {
        width: 240px;
        height: 45px;
    }
    .navigation-menu .nav-menu {
        display: none;
    }
    .tel-in-nav-menu {
        display: none;
    }
    .profile {
        display: none;
    }
    .button-collection {
        margin-left: auto;
        margin-right: 15px;
        margin-top: 50px;
    }
    .button-collection button {
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }
    .okko__button {
        width: 30px;
        height: 20px;
    }
    .account__button {
        width: 25px;
        height: 25px;
    }
    .navigation-menu-burger__img {
        width: 25px;
        height: 25px;
        margin-left: -5px;
    }
    .menu-link {
        display: block;
        padding: 0.6lh 40px;
    }
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 20px;
        margin-top: -20px;
    }
    .circle-group__img {
        width: 500px;
        height: 500px;
    }
    .information-in-main-window {
        grid-template-columns: 50% 50%;
        margin-top: 435px;
        font-size: 11px;
        z-index: 4000000;
    }
    .information-in-main-window-one__p {
        grid-column: 1;
        width: 160px;
        margin-left: 30px;
        margin-right: auto;
    }
    .information-in-main-window-two__p {
        grid-column: 2;
        margin-left: auto;
        width: 160px;
        margin-right: -360px;
    }
    .record-application-first-block p {
        font-size: 12px;
        width: 250px;
        margin-left: 80px;
        margin-top: -85px;
    }
    .plus-first-block {
        width: 30px;
        height: 30px;
        margin-top: -32px;
        margin-left: 45px !important;
    }
    .plus-in-first-blok {
        display: block;
        width: 20px;
        height: 20px;
        margin-top: -1px;
        margin-left: 2px;
    }
    .plus-third-block {
        width: 30px;
        height: 30px;
        margin-right: 55px !important;
        margin-left: auto;
    }
    .plus-in-third-block {
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -5px;
    }
    .doctors-photo__img {
        width: 70px;
        height: 70px;
    }
    .record-application-second-block {
        margin-left: auto;
        margin-right: 65px;
        margin-top: 680px;
    }
    .img-position-one {
        margin-top: -20px;
        margin-left: auto;
        margin-right: 110px;
    }
    .doctors-photo-three {
        margin-right: 60px;
        margin-top: -70px;
    }
    .record-application-second-block p {
        font-size: 12px;
        width: 220px;
        margin-top: 20px;
        margin-right: -120px;
    }
    .about-the-clinic {
        margin-top: 70px;
    }
    .little-comment__span {
        margin-top: 30px;
        padding-top: 10px;
        width: 100px;
        height: 30px;
        font-size: 8px;
        margin-left: 15px;
    }
    .doctors-photo-four {
        margin-right: -20px !important;
    }
    br {
        display: none;
    }
    .about-the-clinic-title__div {
        width: 250px;
        height: auto;
        margin: 0 auto;
    }
    .text-record-application-block__p {
        font-size: 12px;
        width: 220px !important;
        height: 60px;
        margin-left: auto;
        margin-right: 0;
        margin-top: -10px !important;
        word-wrap: break-word;
        word-break: break-all;
    }
    .collection-of-picture {
        margin-left: 36%;
        margin-top: 45px;
    }
    .slider-pictures {
        width: 100%;
        height: 150px;
        gap: 15px;
    }
    .slider-pictures img {
        width: 180px;
        height: 120px;
    }
    .services {
        margin-top: -5px;
    }
    .services-title{
        height: 160px;
    }
    .services-title__h1 {
        margin: 0 auto;
    }
    .about-the-clinic-title__h2 {
        margin: 0 auto;
    }
    .services-title__div {
        width: 250px;
        height: auto;
        margin: 0 auto;
    }
    .text-services {
        width: 250px;
        margin-left: auto;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }
    .services-block__div {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .services-block {
        width: 350px;
        height: 75px;
    }
    .number-service__span {
        margin-left: 40px;
        margin-right: auto;
    }
    .dragon-in-services-window__img {
        width: 200px;
        height: 250px;
        margin-left: 20px;
        margin-right: auto;
        margin-top: 520px;
    }
    .drop-down {
        width: 350px;
    }
    .drop-down-link {
        display: block;
        padding: 0.3lh 30px;
    }
    .drop-down-list__button {
        padding: 0.5lh 0.9lh;
    }
    .drop-down-list__button.active ~ .drop-down {
        line-height: 1.2;
        margin-top: 220px;
    }
    .sing-up__button {
        width: 400px;
        height: 69px;
        font-size: 13px;
    }
}
@media only screen and (max-width: 360px) {
    .container {
        width: 100%;
    }
    body {
        max-height: 520px;
    }
    .nav-logo {
        float: left;
        font-size: 9px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .logo__img {
        width: 150px;
        height: 35px;
    }
    .navigation-menu .nav-menu {
        display: none;
    }
    .tel-in-nav-menu {
        display: none;
    }
    .profole__button {
        display: none;
    }
    .profile {
        display: contents;
    }
    .button-collection {
        margin-left: auto;
        margin-right: 5px;
        margin-top: 20px;
        padding: 0;
    }
    .button-collection button {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
    .eye__button {
        display: none;
    }
    .navigation-menu-burger__img {
        width: 20px;
        height: 20px;
        margin-left: -4px;
        margin-top: 2px;
    }
    .menu-link {
        display: block;
        padding: 0.6lh 20px;
        font-size: 12px;
    }
    .navigation-menu-burger__button.active ~ .menu {
        float: left;
        left: 0;
        text-align: center;
        width: 100%;
        height: 85%;
        z-index: 60000000;
    }
    .navigation-menu-burger__button {
        padding: 0.5lh 0.9lh;
    }
    h1 {
        font-size: 20px !important;
    }
    h2{
        font-size: 15px;
        margin-top: -20px;
    }
    .circle-group__img {
        width: 250px;
        height: 250px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .dragon-in-main-window__img {
        width: 180px;
        height: 280px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .company-name-title__img {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .information-in-main-window {
        grid-template-columns: 100px 100px;
        margin-top: 225px;
        font-size: 6px;
        z-index: 4000000;
    }
    .information-in-main-window-one__p {
        grid-column: 1;
        width: 80px;
        margin-left: 15px;
        margin-right: auto;
    }
    .information-in-main-window-two__p {
        grid-column: 2;
        margin-left: 165px;
        width: 80px;
    }
    .record-application-first-block p {
        font-size: 10px;
        width: 95px;
        margin-left: 55px;
        margin-top: -70px;
    }
    .link-services__a {
        font-size: 10px !important;
    }
    .plus-first-block {
        max-width: 20px;
        max-height: 20px;
        margin-top: -25px;
        margin-left: 30px !important;
        border: 2px solid #FFFFFF;
    }
    .plus-in-first-blok {
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -3px;
        margin-left: -1px;
    }
    .plus-third-block {
        width: 30px;
        height: 30px;
        margin-right: 20px !important;
        margin-left: auto;
    }
    .plus-in-third-block {
        display: block;
        width: 10px;
        height: 10px;
        margin-left: -3px;
    }
    .doctors-photo__img {
        width: 40px;
        height: 40px;
        border: 2px solid #FFFFFF;
    }
    .record-application-second-block {
        margin-left: auto;
        margin-right: 65px;
        margin-top: 360px;
    }
    .img-position-one {
        margin-top: -20px;
        margin-left: auto;
        margin-right: 80px;
    }
    .doctors-photo-three {
        margin-right: 50px;
        margin-top: -40px;
    }
    .record-application-second-block p {
        font-size: 10px;
        width: 170px;
        margin-top: 10px;
        margin-right: -120px;
    }
    .about-the-clinic {
        margin-top: -5px;
    }
    .little-comment__span {
        transform: rotate(270deg);
        margin-top: 60px;
        padding-top: 10px;
        width: 90px;
        height: 30px;
        font-size: 8px;
        margin-left: -20px;
    }
    br {
        display: contents;
    }
    .about-the-clinic-title__div {
        width: 180px;
        height: auto;
        margin: 0 auto;
    }
    .text-record-application-block__p {
        font-size: 10px;
        width: 150px !important;
        height: 80px;
        margin-left: auto;
        margin-right: 0;
        margin-top: -10px !important;
        word-wrap: break-word;
        word-break: break-all;
    }
    .collection-of-picture {
        width: 70px !important;
        height: 50px !important;
        margin-left: 130px;
        margin-right: 0;
        margin-top: 35px;
    }
    .doctors-photo-four {
        margin-right: -10px !important;
        z-index: 9856956947957;
    }
    .circle-empty {
        width: 15px;
        height: 15px;
        border: 2px solid #036EEE;
        margin-left: 30px;
    }
    .slider-pictures {
        width: 100%;
        height: 100px;
        gap: 10px;
    }
    .slider-pictures img {
        width: 100px;
        height: 80px;
        border: 2px solid #FFFFFF;
        margin-top: -20px;
    }
    .services {
        margin-top: -5px;
    }
    .services-title__h1 {
        margin: 0 auto;
    }
    .services-title__h2 {
        margin: 0 auto;
    }
    .services-title__div {
        width: 180px;
        height: auto;
        margin: 0 auto;
        padding-top: 50px;
    }
    .text-services {
        width: 180px;
        height: 90px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .services-block__div {
        font-size: 10px;
        margin-top: 10px;
    }
    .services-block {
        width: 320px;
        height: 55px;
    }
    .number-service__span {
        margin-left: 20px;
        margin-right: auto;
    }
    .dragon-in-services-window__img {
        width: 100px;
        height: 150px;
        margin-left: 5px;
        margin-right: auto;
        margin-top: 620px;
    }
    .drop-down {
        width: 320px;
        margin-top: 100px;
    }
    .drop-down-link {
        display: block;
        padding: 0.3lh;
        font-size: 10px;
    }
    .drop-down-list__button {
        padding: 0.5lh 0.9lh;
    }
    .drop-down-list__button.active ~ .drop-down {
        line-height: 1.2;
        margin-top: 145px;
    }
    .sing-up__button {
        width: 250px;
        height: 40px;
        font-size: 11px;
    }
}